/* Stylesheet for pennant sides and results */
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  margin: 5px;
  padding: 0;
}

.roundDetails {
  columns: 4 10px;
  color: green;
  display: flex;
}

.roundDetails p {
  flex: 1;
  text-align: center;
  padding: 5px;
  background-color: aquamarine;
  border: 2px solid red;
}

.roundDetails span {
  display: inline-block;
}
